<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">


      <main role="main" class="inner cover">
        <h1 class="cover-heading">Bonjour</h1>
        <p class="lead">Pour accéder aux news letters, veuillez régler</p>

        <%= form_tag charges_path do %>
          <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
            <label class="amount">
              <span>Amount: €5.00</span>
            </label>
          </article>

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="A month's subscription"
                  data-amount="500"
                  data-currency="eur"
                  data-locale="auto"></script>
        <% end %>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
        </div>
      </footer>
    </div>
